{{>layout/header}}
<!--점보트론 + 글 작성 버튼-->
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Code Review</h1>
        <p class="col-md-8 fs-4">Share your code, Review together</p>
        <a href="/posts/save" role="button" class="btn btn-secondary">글 작성</a>
    </div>
</div>
<br>
<!--새로만든 테이블 양식-->
<table class="table table-hover table-striped" style="margin: 0px 50px 0px 50px; width: 90rem;">
    <thead>
    <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">최종수정일</th>
        <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody class="table=light" id="tbody">
    {{#posts}}
        <tr>
            <th scope="row">{{id}}</th>
            <td><a href="/posts/read/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
            <td>{{view}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
</div>

{{! Page }}
<div class="pagination justify-content-center">
    {{#hasPrev}}
        <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>
    {{/hasPrev}}
    {{^hasPrev}}
        <a href="?page={{previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>
    {{/hasPrev}}

    {{#hasNext}}
        <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>
    {{/hasNext}}
    {{^hasNext}}
        <a href="?page={{next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
    {{/hasNext}}
</div>

{{>layout/footer}}