{{>layout/header}}

<!--입력 폼-->
<form style="margin: 25px 25px 25px 25px;">
    <br>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">제목</span>
        <input type="text" class="form-control" placeholder="공백 시 작성 불가" id="title" aria-label="Username"
               aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">작자</span>
        <input type="text" class="form-control" placeholder="공백 시 작성 불가" id="author" aria-label="Username"
               aria-describedby="basic-addon1" value="{{user_name}}" readonly>
    </div>
    <div class="input-group" style="min-height: 22em;">
        <span class="input-group-text">본문</span>
        <textarea class="form-control" id="content" aria-label="With textarea"></textarea>
    </div>
</form>
<div style="margin-bottom: 80px;">
    <a href="/" role="button" class="btn btn-secondary" style="margin-right: 130px; float: right;">취소</a>
    <button type="button" class="btn btn-primary" id="btn-save" style="margin-right: 3px; float: right;">등록</button>
</div>

{{>layout/footer}}